* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --background-color: #f2f9fd;
  --text-color: #434e65;
  --focus-color: #303d59
}
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  margin: 0; 
}
body {
  display: grid;
  place-content: center;
  background-color: var(--background-color);
  position: relative;
}
.principalContainer {
  height: auto;
  gap: 80px;
  display: grid;
  place-content: center;
  font-family: "Kanit", sans-serif;
  color: var(--focus-color);
}

.title {
  text-align: center;
  margin-top: 120px;
  margin-bottom: 40px;
  & h1 {
    line-height: 20px
  }
}
.containerImage{
  display: flex;
  flex-wrap: wrap;
  height: auto;
  gap: 20px;
  justify-content: center;
}
.ImageRick {
  border-radius: 50px;
  border: 12px solid var(--focus-color);
  width: 300px;
  height: 300px;
}
.bottom {
  display: flex;
  gap: 15px;
  justify-content: center;
}
#NewImage {
  max-width: 300px;
  padding: 0 14px;
  height: 80px;
  border: 6px solid var(--focus-color);
  border-radius: 8px;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-size: 30px;
  cursor: pointer;
  box-shadow: 0px 25px 20px -10px var(--focus-color)
}
#page {
  width: 64px;
  padding: 0 14px;
  height: 80px;
  border: 6px solid var(--focus-color);
  border-radius: 8px;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-size: 30px;
  text-align: center;
}
#PreviousContent{
  position: absolute;
  right: 0;
  top: 30px;
  height: 60px;
  width: 220px;
  padding: 0 0 0 20px;
  text-decoration: none;
  border: 6px solid var(--focus-color);
  border-radius: 8px 0 0 8px;
  border-right: none;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-size: 30px;
  cursor: pointer;
}