@layer reset {

  *,
  *:after,
  *:before {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
  }

  ul[class] {
    list-style: none;
  }

  label {
    cursor: pointer;
    max-width: max-content;
    user-select: none;
  }
}

:root {
  --primary-color: #ffffff;
  --secundary-color: #000000;
  --background-color: #434251ed;
  --background-colorvariant: #64627b;
  --primary-fonts: "IBM Plex Sans", sans-serif;

  --black-semitransparent: #000000cc;
  --black-transparent: #00000040;
  --white-transparent: #FFFFFF40;
  --focus-color: #34333d;

  --total-slides: 10;
}

.inactive {
  display: none
}

@layer body {

  body {
    background-color: var(--primary-color);
    height: auto;
  }

  body {
    animation: back auto linear forwards;
    animation-timeline: view();
  }

  @keyframes back {
    0% {
      background: linear-gradient(to bottom, var(--background-color), var(--secundary-color));
    }

    50% {
      background: linear-gradient(to bottom, var(--background-color), var(--secundary-color));
    }

    100% {
      background: var(--secundary-color);
    }
  }
}

@layer defaults {
  .title {
    color: var(--primary-color);
    font-family: var(--primary-fonts);
    font-size: 20px;
  }

  .button {
    font-family: var(--primary-fonts);
    border-radius: 4px;
    border: none;
    padding: 4px 8px;
    width: 100%;
    font-weight: 500;
    font-size: 12px;
    display: flex;
    text-align: middle;
    justify-content: center;
    z-index: 1;

    & img {
      height: 100%;
    }
  }

  .summary {
    background-color: var(--background-colorvariant);
    padding: 4px 0 4px 8px;
    color: var(--primary-color);
    font-family: var(--primary-fonts);
  }

  .contentSummary {
    background-color: var(--background-color);
    font-family: var(--primary-fonts);
    color: var(--primary-color);
    padding: 4px 8px;
  }

  .image {
    border-radius: 8px;
    width: 100%;
    height: 100%;
    min-height: 100%;
    background-color: var(--background-colorvariant);
  }

  .closePopover,
  .return_popover {
    position: absolute;
    top: 12px;
    background: none;
    border: none;
  }

  .closePopover {
    right: 12px;
  }

  .return_popover {
    left: 12px;
  }

  .return_hash {
    background-color: transparent;
  }
}

@layer navbar {
  .navbar {
    background-color: var(--background-color);
    display: grid;
    gap: 4px;
  }

  .navbar_logo {
    background-color: transparent;
    border: none;
  }

  .navbar_logo-button {
    background-color: transparent;
    border: none;
  }

  .navbar_search {
    background: none;
    border: none;

    & img {
      background-color: transparent;
    }
  }

  .navbar_categories {
    margin-top: 48px;
    padding: 8px 15px 12px 15px;
    display: flex;
    gap: 8px;
    background-color: var(--background-color);
    justify-content: end;
  }

  .navbar_container {
    padding: 8px 15px;
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    z-index: 2;
  }

  .button_principal {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    font-size: 12px;
    border-radius: 10px;
    padding: 2px 8px;
    background-color: transparent;
    font-family: var(--primary-fonts);
  }

  .navbar_container {
    animation: change auto linear forwards;
    animation-timeline: view();
  }

  @keyframes change {
    90% {
      background: var(--background-colorvariant);
    }

    100% {
      background: var(--black-semitransparent);
    }
  }
}

@layer banner {

  .filmBanner {
    height: auto;
    padding: 12px 0 50px 0;
    width: 100%;
    display: grid;
    place-content: center;
  }

  .fillBanner_container {
    width: 230px;
    height: 300px;
    position: relative;
    border-radius: 8px;
    border: 1px solid var(--primary-color);
    box-shadow: 0px 10px 20px 0px var(--black-semitransparent);
  }

  .fillBanner_information {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 12px;
    color: var(--primary-color);
    font-family: var(--primary-fonts);
  }

  .fillBanner_categories {
    display: flex;
    font-size: 12px;
    justify-content: center;
    gap: 6px;
  }

  .fillBanner_buttons {
    display: flex;
    justify-content: space-between;
    gap: 8px;
  }

  .button_list {
    background-color: var(--black-transparent);
    color: var(--primary-color);
  }

  .button_favorite {
    background-color: var(--black-transparent);
    color: var(--primary-color);
  }

  .fillBanner_categories {
    z-index: 1;
  }

  .fillBanner_img {
    width: 100%;
    height: 100%;
    overflow: hidden;

    & div {
      position: initial;

      & img {
        border-radius: 8px;
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: 8px;
      }
    }
  }

  .fillBanner_img::before {
    content: '';
    position: absolute;
    top: 70%;
    left: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(transparent, #64627b, var(--background-colorvariant));
    border-radius: 8px;
  }
}

@layer trending {
  .trending {
    padding: 8px 12px;
  }

  .trending_gallery {
    height: 250px;
    width: 100%;
  }

  .trending_header {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-bottom: 22px;
  }

  .trending_button {
    background-color: var(--background-colorvariant);
    font-family: var(--primary-fonts);
    color: var(--primary-color);
    display: grid;
    place-content: center;
  }
}

@layer carouselBullets {
  [data-component="trending_carousel"] {
    timeline-scope: --carousel;

    .trending_carousel-entries {
      scroll-timeline: --carousel x;
    }

    .trending_carousel-bullets a {
      animation: focus-colorBullets linear;
      animation-timeline: --carousel;
      animation-range: calc(((var(--i) - 1) / var(--total-slides)) * 100%) calc((var(--i) / var(--total-slides)) * 100%);
    }
  }

  @keyframes focus-colorBullets {

    0%,
    100% {
      background: var(--primary-color);
    }
  }
}

@layer components {
  @layer carousel {
    [data-component="trending_carousel"] {
      position: relative;
      width: 100%;
      height: 100%;

      .trending_carousel-entries {
        display: flex;
        width: 100%;
        flex-direction: row;

        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
        scroll-behavior: smooth;

        >* {
          scroll-snap-align: center;
          flex: 100% 0 0;
          display: grid;
          place-content: center;
        }

        & li {
          display: flex;
          width: 100%;
          height: 100%;
        }

        & a {
          display: flex;
          gap: 8px;
        }

        & img {
          display: block;
          height: 220px;
          width: 100%;
          object-fit: cover;
          border-radius: 8px;
        }
      }

      .trending_carousel-bullets {
        display: flex;
        flex-direction: row;
        gap: 4px;

        position: absolute;
        bottom: 10px;
        left: 50%;
        translate: -50% 0;

        & li {
          &:nth-child(1) {
            --i: 1;
          }

          &:nth-child(2) {
            --i: 2;
          }

          &:nth-child(3) {
            --i: 3;
          }

          &:nth-child(4) {
            --i: 4;
          }

          &:nth-child(5) {
            --i: 5;
          }

          &:nth-child(6) {
            --i: 6;
          }

          &:nth-child(7) {
            --i: 7;
          }

          &:nth-child(8) {
            --i: 8;
          }

          &:nth-child(9) {
            --i: 9;
          }

          &:nth-child(10) {
            --i: 10;
          }
        }

        & a {
          display: block;
          width: 8px;
          aspect-ratio: 1;
          background: var(--background-colorvariant);
          border-radius: 50%
        }
      }
    }
  }
}

@layer genre {

  .genre {
    padding: 50px 12px 8px 12px;
    display: grid;
    gap: 32px;
  }

  .genre_navbar {
    display: flex;
    place-content: space-between;
    height: 28px;
  }

  .genre_select-container {
    width: 230px;
    background-color: var(--background-colorvariant);
    border-radius: 8px;
    display: flex;
    padding: 4px 8px;
    align-items: center;
    justify-content: space-between;
  }

  .genre_select {
    font-family: var(--primary-fonts);
    font-size: 16px;
    color: var(--primary-color);
    overflow: hidden;
    margin: 0;
  }

  .genre_sections {
    z-index: 2;
  }

  .genre_sections details {
    width: 224px;
  }

  .genre_sections-genre {
    border-radius: 8px 8px 0 0;
  }

  .genre_sections-categories {
    border-radius: 0 0 8px 8px;
  }

  .genre_categories[open] .genre_sections-categories {
    border-radius: 0;
  }

  .contentSummary-categories {
    border-radius: 0 0 8px 8px;
  }

}

@layer genreContent {
  .genre_content-container {
    display: grid;
    place-content: center;
  }

  .genre_content {
    display: grid;
    grid-template-columns: 90px 90px 90px;
    height: 300px;
    justify-items: center;
    gap: 8px;

    & img {
      object-fit: cover;
    }
  }

  .genre_button-container {
    display: grid;
    place-content: center;
    margin-bottom: 50px;
  }

  .genre_button {
    width: 200px;
    background-color: var(--background-colorvariant);
    font-family: var(--primary-fonts);
    color: var(--primary-color);
    display: grid;
    place-content: center;
  }
}

@layer detailsPopover {
  .details {
    width: 75%;
    height: 100%;
    background-color: var(--background-colorvariant);
    border: none;
    left: auto;
  }

  #popover {
    transition: translate 0.5s ease-out, display 0.5s ease-out allow-discrete,
      overlay 0.5s ease-out allow-discrete;
    translate: 100% 0;

    &::backdrop {
      opacity: 0;
      background: var(--black-semitransparent);
      transition: opacity 0.5s;
    }

    &:popover-open {
      translate: 0 0;

      &::backdrop {
        opacity: 1;
      }

      @starting-style {
        translate: 100% 0;

        &::backdrop {
          opacity: 0;
        }
      }
    }
  }
}

@layer detailsContent {
  .details_img {
    width: 100%;
    height: 100%;

    & img {
      border-radius: 0;
    }
  }

  .details_button {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4px;

    & .button:nth-child(1) {
      grid-area: 1 / 1 / 2 / 3;
      background-color: var(--focus-color);
      color: white;
    }
  }

  .details_content {
    position: relative;
    display: grid;
    background-color: var(--background-colorvariant);
    margin-top: -10px;
    border-radius: 8px 8px 0 0;
    padding: 30px 12px;
    gap: 20px;
    box-shadow: 0px -8px 10px 0px var(--black-semitransparent);
  }

  .details_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .details_review {
    display: flex;
    gap: 8px;

    & p {
      color: var(--primary-color);
      font-family: var(--primary-fonts);
      font-weight: 900;
      font-size: 16px;
    }
  }

  .details_description {
    color: var(--primary-color);
    font-family: var(--primary-fonts);
    font-size: 16px;
    text-wrap: pretty;
  }

  .details_categories ul {
    display: grid;
    grid-template-columns: 1fr 1fr;

    & li {
      list-style: none;
      color: var(--primary-color);
      font-family: var(--primary-fonts);
      font-weight: 900;
      font-size: 16px;
    }
  }

  .details_filmsSimilar {
    border-radius: 8px;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 8px;
    width: 100%;
    flex-direction: row;

    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;

    scroll-behavior: smooth;

    & div {
      & img {
        width: 90px;
        height: 160px;
        border-radius: 8px;
        object-fit: cover;
      }
    }
  }

  .details_filmsSimilar-img {
    width: 90px;
    height: 170px;
    border-radius: 8px;
  }
}

@layer allFilms {
  #allFilms {
    padding: 60px 24px 40px 24px;
  }

  .allFilms_header {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    margin-bottom: 16px;
  }

  .allFilms_button {
    border: none;
  }

  .allFilms_container {
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(auto-fill, minmax(120px, 200fr));
    grid-template-rows: repeat(auto-fill, minmax(180px, 240fr));

    & div {
      & .image {
        min-height: 180px;
        min-width: 145px;
      }
    }
  }

  .allFilms_container div button img {
    min-height: 100%;
  }
}

@layer search {
  #search {
    padding: 60px 24px 20px 24px;
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    flex-direction: column;
    gap: 40px;
    min-height: 100vh;
    max-height: 2000vh;
  }

  .search_header {
    height: 35px;
    display: flex;
    justify-content: space-between;
  }

  .return_hash {
    border: none;
  }

  .search_form {
    background-color: var(--background-colorvariant);
    border-radius: 4px;
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 8px;

    & input {
      flex-grow: 1;
      padding: 8px;
      border: none;
      color: var(--primary-color);
      margin-left: 2px;
      border-radius: 4px;
      background-color: var(--focus-color);
    }

    & input:focus {
      outline: none;
    }
  }

  .search_button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    display: grid;
    place-content: center;
    margin: 0 4px;
  }

  .search_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(120px, 1fr));
    grid-gap: 12px;

    & div {
      & .image {
        object-fit: fill;
        background-color: var(--background-colorvariant);
        min-height: 120px;
      }
    }

  }
}

@layer filmDetails {
  #filmDetails {
    height: 100vh;
    background-color: wheat;
  }
}


@layer responsive {
  @media screen and (min-width: 380px) {
    html {
      display: grid;
      place-content: center;
      background-color: var(--background-colorvariant);
      margin: 100px 0;
    }

    body {
      width: 350px;
      border-radius: 16px;
    }

    .navbar,
    .navbar_container {
      width: 350px;
      border-radius: 16px 16px 0 0;
    }

    .desktopTop,
    .desktopBottom {
      background-color: var(--background-colorvariant);
      width: 100%;
      height: 100px;
      position: fixed;
      left: 0;
      right: 0;
      z-index: 3;
    }

    .desktopTop {
      top: 0;
    }

    .desktopBottom {
      bottom: 0;
    }

    @keyframes change {

      0%,
      90% {
        border-radius: 16px 16px 0 0;
        background: var(--focus-color);
      }

      100% {
        border-radius: 0px;
        background: var(--black-semitransparent);
      }
    }

    .details {
      width: 380px;
    }
  }
}

@layer animations {
  .loaderBanner {
    animation: shimmer 3s infinite linear;
    background: linear-gradient(to right, #64627b7d 0%, #aeabc3 50%, #64627b7d 100%);
    background-size: 600px 200%;
    border-radius: 6px;
  }

  @keyframes shimmer {
    0% {
      background-position: -300px 0;
    }

    100% {
      background-position: 300px 0;
    }
  }

  .trending_carousel-loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    height: 100%;
    width: 100%;
  }

  .trending_carousel-loaderImg {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
    gap: 8px;

    & div {
      animation: loader 3s infinite linear;
      background: linear-gradient(to right, #8583a07d 0%, #8583a0 50%, #8583a07d 100%);
      background-size: 600px 200%;
      border-radius: 8px;

      &:nth-child(2) {
        animation-delay: 0.2s;
      }
    }

  }

  .trending_carousel-loaderButton {
    height: 10px;
    width: 100px;
    display: flex;
    animation: loader 12s infinite linear;
    background: linear-gradient(to right, #8583a07d 0%, #8583a0 50%, #8583a07d 100%);
    background-size: 600px 100%;
    border-radius: 8px;
  }

  .genre_content-loader {
    display: grid;
    height: 100%;
    width: 100%;
    grid-area: 1 / 1 / 3 / 4;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;

    & div {
      animation: loader 12s infinite linear;
      background: linear-gradient(to right, #8583a07d 0%, #8583a0 50%, #8583a07d 100%);
      background-size: 200px 100%;
      border-radius: 8px;

      &:nth-child(2) {
        animation-delay: 0.3s;
      }

      &:nth-child(3) {
        animation-delay: 0.7s;
      }

      &:nth-child(5) {
        animation-delay: 0.3s;
      }

      &:nth-child(6) {
        animation-delay: 0.7s;
      }

    }
  }

  @keyframes loader {
    0% {
      background-position: -300px 0;
    }

    100% {
      background-position: 300px 0;
    }
  }
}

@layer infiniteScroll {
  #endOfContentFilms {
    margin-top: 40px;
    height: 20px;
  }

  #endOfContentSearch {
    margin-top: 40px;
    height: 20px;
  }
}

@layer favorite {
  #favoriteFilms {
    display: grid;
    place-content: center;
    gap: 32px;
    padding: 8px 16px;
    margin-bottom: 120px;
  }

  .favorite_gallery {
    display: grid;
    grid-template-columns: 90px 90px 90px;
    justify-items: center;
    gap: 8px;

    & img {
      object-fit: cover;
      height: 145px;
    }
  }

  .favorite_moreFilms {
    margin: 0 auto 50px auto;
    width: 200px;
    background-color: var(--background-colorvariant);
    font-family: var(--primary-fonts);
    color: var(--primary-color);
    display: grid;
    place-content: center;
  }

  .favorite_button {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 4px;
    right: 4px;
    background-color: transparent;
    border: none;

    & img {
      width: 100%;
      height: 100%;
    }
  }

  .favorite_button-liked {
    filter: drop-shadow(0px 3px 0px rgb(255, 60, 0))
  }
}

@layer language {
  #languageOptions {
    background-color: var(--background-colorvariant);
    margin-top: 15px;
    height: 28px;
    border-radius: 8px;
    color: var(--primary-color);
    padding: 4px 12px;
    display: grid;
    gap: 20px;
    & option {
      background-color: var(--focus-color);
    }
  }

  #languageOptions:focus {
    border-radius: 8px 8px 0 0;
  }
}